{{#d-section pageClass="users"}}
  {{#load-more selector=".directory tbody tr" action=(action "loadMore")}}
    <div class="container">
      <div class="users-directory directory">
        {{plugin-outlet name="users-top" connectorTagName="div" args=(hash model=model)}}
        <div class="directory-controls">
          <div class="period-controls">
            <h2>{{theme-i18n "users_center_name"}}</h2>
          </div>
          <div class="filters">            
            <span class="group-filter {{if group "active"}}">
              {{combo-box content=availableGroups
                        value=group
                        options=(hash clearable=true none=(theme-prefix 'filter_by_group'))
                        valueAttribute="value"}}
            </span>
            <span class="username-filter">
              {{text-field value=nameInput placeholderKey="directory.filter_name" class="filter-name no-blur"}}
            </span>
          </div>
        </div>

        {{#conditional-loading-spinner condition=isLoading}}
          {{#if model.length}}

            <table>
              <thead>
                <th>{{i18n "directory.total_rows" count=model.totalRows}}</th>
                {{table-header-toggle field="topic_count" order=order asc=asc}}
                {{table-header-toggle field="post_count" order=order asc=asc}}
                {{table-header-toggle field="topics_entered" order=order asc=asc}}
                {{table-header-toggle field="posts_read" order=order asc=asc}}
                {{#if showTimeRead}}
                  <th>{{i18n "directory.time_read"}}</th>
                {{/if}}
              </thead>
              <tbody>
                {{#each model as |item|}}
                  {{directory-item item=item showTimeRead=showTimeRead}}
                {{/each}}
              </tbody>
            </table>

            {{conditional-loading-spinner condition=model.loadingMore}}
          {{else}}
            <div class="clearfix"></div>
            <p>{{i18n "directory.no_results"}}</p>
          {{/if}}
        {{/conditional-loading-spinner}}

      </div>
    </div>
  {{/load-more}}
{{/d-section}}
